.subNav {
  background-color: #fff5fd;
  border-bottom: 2px solid #faa8d2;
}

.container {
  display: flex;
  align-items: center;
  width: 1100px;
  height: 300px;
  margin: 0 auto;
}

.navImgBox {
  width: 218px;
  height: 258px;
  overflow: hidden;
  /* position: relative; */
}

/* NavImg animation*/
img[class|="navImg"] {
  position: relative;
}
img[class|="navImg"][class$="0"] {
  top: 0px;
}

img[class|="navImg"][class$="1"] {
  top: -258px;
}

img[class|="navImg"][class$="2"] {
  top: -516px;
}

img[class|="navImg"][class$="3"] {
  top: -774px;
}

img[class|="navImg"][class$="4"] {
  top: -1032px;
}

img[class|="navImg"][class$="5"] {
  top: -1290px;
}

img[class|="navImg"][class$="6"] {
  top: -1548px;
}

img[class|="navImg"][class$="7"] {
  top: -1806px;
}

img[class|="navImg"][class$="8"] {
  top: -2064px;
}

img[class|="navImg"][class$="9"] {
  top: -2322px;
}

img[class|="navImg"][class$="10"] {
  top: -2580px;
}

/* /NavImg animation */

.items {
  display: flex;
  margin-left: 10px;
}

.item {
  width: 140px;
}

.item > ul {
  text-align: center;
}

.item > ul > li {
  margin: 15px 0;
}

.item a {
  font-size: 14px;
  color: #80737c;
}

.item a:hover {
  color: #ed1d85;
}

.active {
  color: #ed1d85 !important;
}
