.HTMain {
  position: relative;
}

.bg_img {
  min-height: calc(100vh - 87px);
  transform: translateX(calc(50vw - 50%));
}

.balloon {
  position: absolute;
  top: 20px;
  left: 730px;
  animation: balloon 3s ease-out infinite alternate;
}

.bee {
  position: absolute;
  top: 80px;
  left: 900px;
  width: 282px;
  height: 187px;
  overflow: hidden;
}

.txt {
  position: absolute;
  top: 160px;
  left: 1140px;
  width: 390px;
  height: 168px;
  overflow: hidden;
}

.cloud1 {
  position: absolute;
  top: 200px;
  left: 510px;
  animation: cloud1 5s ease-in-out infinite alternate;
}

.cloud2 {
  position: absolute;
  top: 365px;
  left: 720px;
  animation: cloud2 5s ease-in-out infinite alternate;
}

.cloud3 {
  position: absolute;
  top: 100px;
  left: 1500px;
  animation: cloud3 5s ease-in-out infinite alternate;
}

@keyframes balloon {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(50px);
  }
}

@keyframes cloud1 {
  0% {
    transform: translateX(-180px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}

@keyframes cloud2 {
  0% {
    transform: translateY(50px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes cloud3 {
  0% {
    transform: translate(0px);
    opacity: 0%;
  }
  100% {
    transform: translate(-50px);
    opacity: 100%;
  }
}

img[class|="beeImg"] {
  position: relative;
}

img[class|="beeImg"][class$="0"] {
  top: 0px;
}

img[class|="beeImg"][class$="1"] {
  top: -187px;
}

img[class|="beeImg"][class$="2"] {
  top: -374px;
}

img[class|="beeImg"][class$="3"] {
  top: -561px;
}

img[class|="beeImg"][class$="4"] {
  top: -748px;
}

img[class|="beeImg"][class$="5"] {
  top: -935px;
}

img[class|="beeImg"][class$="6"] {
  top: -1122px;
}

img[class|="beeImg"][class$="7"] {
  top: -1309px;
}

img[class|="beeImg"][class$="8"] {
  top: -1496px;
}

img[class|="beeImg"][class$="9"] {
  top: -1683px;
}

img[class|="beeImg"][class$="10"] {
  top: -1870px;
}

img[class|="beeImg"][class$="11"] {
  top: -2057px;
}

img[class|="beeImg"][class$="12"] {
  top: -2244px;
}

img[class|="beeImg"][class$="13"] {
  top: -2431px;
}

img[class|="beeImg"][class$="14"] {
  top: -2618px;
}

img[class|="beeImg"][class$="15"] {
  top: -2805px;
}

img[class|="beeImg"][class$="16"] {
  top: -2992px;
}

img[class|="beeImg"][class$="17"] {
  top: -3179px;
}

img[class|="beeImg"][class$="18"] {
  top: -3366px;
}

img[class|="beeImg"][class$="19"] {
  top: -3553px;
}

img[class|="beeImg"][class$="20"] {
  top: -3740px;
}

img[class|="beeImg"][class$="21"] {
  top: -3927px;
}

img[class|="beeImg"][class$="22"] {
  top: -4114px;
}

img[class|="beeImg"][class$="23"] {
  top: -4301px;
}

img[class|="beeImg"][class$="24"] {
  top: -4488px;
}

img[class|="beeImg"][class$="25"] {
  top: -4675px;
}

img[class|="beeImg"][class$="26"] {
  top: -4862px;
}

img[class|="beeImg"][class$="27"] {
  top: -5049px;
}

img[class|="beeImg"][class$="28"] {
  top: -5236px;
}

img[class|="beeImg"][class$="29"] {
  top: -5423px;
}

/* Text */
img[class|="textImg"] {
  position: relative;
}

img[class|="textImg"][class$="0"] {
  top: 0px;
}

img[class|="textImg"][class$="1"] {
  top: -168px;
}

img[class|="textImg"][class$="2"] {
  top: -336px;
}

img[class|="textImg"][class$="3"] {
  top: -504px;
}

img[class|="textImg"][class$="4"] {
  top: -672px;
}

img[class|="textImg"][class$="5"] {
  top: -840px;
}

img[class|="textImg"][class$="6"] {
  top: -1176px;
}

img[class|="textImg"][class$="7"] {
  top: -1344px;
}

img[class|="textImg"][class$="8"] {
  top: -1512px;
}

img[class|="textImg"][class$="9"] {
  top: -1680px;
}

img[class|="textImg"][class$="10"] {
  top: -1848px;
}

img[class|="textImg"][class$="11"] {
  top: -2016px;
}

img[class|="textImg"][class$="12"] {
  top: -2184px;
}

img[class|="textImg"][class$="13"] {
  top: -2352px;
}

img[class|="textImg"][class$="14"] {
  top: -2520px;
}

img[class|="textImg"][class$="15"] {
  top: -2688px;
}

img[class|="textImg"][class$="16"] {
  top: -2856px;
}

img[class|="textImg"][class$="17"] {
  top: -3024px;
}

img[class|="textImg"][class$="18"] {
  top: -3192px;
}

img[class|="textImg"][class$="19"] {
  top: -3360px;
}

img[class|="textImg"][class$="20"] {
  top: -3528px;
}

img[class|="textImg"][class$="21"] {
  top: -3696px;
}

img[class|="textImg"][class$="22"] {
  top: -3864px;
}

img[class|="textImg"][class$="23"] {
  top: -4032px;
}

img[class|="textImg"][class$="24"] {
  top: -4200px;
}

img[class|="textImg"][class$="25"] {
  top: -4368px;
}

img[class|="textImg"][class$="26"] {
  top: -4536px;
}

img[class|="textImg"][class$="27"] {
  top: -4704px;
}

img[class|="textImg"][class$="28"] {
  top: -4872px;
}

img[class|="textImg"][class$="29"] {
  top: -5040px;
}

img[class|="textImg"][class$="30"] {
  top: -5208px;
}

img[class|="textImg"][class$="31"] {
  top: -5376px;
}

img[class|="textImg"][class$="32"] {
  top: -5544px;
}

img[class|="textImg"][class$="33"] {
  top: -5712px;
}

/* img[class|="textImg"][class$="34"] {
  top: -5800px;
} */

/* img[class|="textImg"][class$="35"] {
  top: -6048px;
} */
