.HTMain {
  position: relative;
  margin-top: 87px;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.HTMain::-webkit-scrollbar {
  display: none;
}

.bg {
  height: calc(100vh - 87px);
}

.bg_img {
  transform: translateX(calc(50vw - 50%));
}

.balloon {
  position: absolute;
  top: 20px;
  left: 730px;
  animation: balloon 3s ease-out infinite alternate;
}

.bee {
  position: absolute;
  top: 80px;
  left: 900px;
  width: 282px;
  height: 187px;
  overflow: hidden;
}

.bee img {
  position: relative;
  width: 100%;
  top: 0;
}

.text {
  position: absolute;
  top: 160px;
  left: 1140px;
  width: 390px;
  height: 168px;
  overflow: hidden;
}

.text img {
  position: relative;
  width: 100%;
  top: 0;
}

.cloud1 {
  position: absolute;
  top: 200px;
  left: 510px;
  animation: cloud1 5s ease-in-out infinite alternate;
}

.cloud2 {
  position: absolute;
  top: 365px;
  left: 720px;
  animation: cloud2 5s ease-in-out infinite alternate;
}

.cloud3 {
  position: absolute;
  top: 100px;
  left: 1500px;
  animation: cloud3 5s ease-in-out infinite alternate;
}

@keyframes balloon {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(50px);
  }
}

@keyframes cloud1 {
  0% {
    transform: translateX(-180px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}

@keyframes cloud2 {
  0% {
    transform: translateY(50px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes cloud3 {
  0% {
    transform: translate(0px);
    opacity: 0%;
  }
  100% {
    transform: translate(-50px);
    opacity: 100%;
  }
}
